doctype html
html
  head
    link(href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet")
    link(href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet")
    link(href="../css/index.css" rel="stylesheet")
    meta(name="viewport" content="width=device-width, initial-scale = 1.0 user-scalable=no")
  body
    #cover
      .logo
        i.fa.fa-map-pin.fa-3x
        p Board

    section#cover-content
      img(src="../img/laptop.png")#laptop-mockup

      hr

      h1#cover-lead Pinboard is an application that allows you to save every image you find on the internet in one place.

      a(href="#") Get started

    section#features
      .feature
        i.fa.fa-plus-circle.fa-5x
        h1.feature-lead Save for later
        p.feature-description    Pinboard offers you the ability to save every image you find online in a digital album that's easily shareable with the world. Take advantage of our tools and create one of the most impressive online galeries that the world can see.
      .feature
        i.fa.fa-check-circle.fa-5x
        h1.feature-lead Always available to you
        p.feature-description   Your saved photos will always be at the tip of your fingertips. Once you create your album it will be stored on our servers forever. Our downtimes are always announced 24 hours ahead so you can plan a way to use Pinboard even when we're performing maintenance work. 
      .feature
        i.fa.fa-clock-o.fa-5x
        h1.feature-lead Extremely fast
        p.feature-description   Built with performance in mind, Pinboard benefits from fast load times and awesome image quality. Saving your photos has never been faster! Take advantage of the service now!

    section#categories
      h1#categories-lead Find what you're looking for with ease
      #categories-list
        .column
          a(href="#") Leadership
          a(href="#") Machine Learning
          a(href="#") Music
          a(href="#") Running
          a(href="#") Space
        .column
          a(href="#") Leadership
          a(href="#") Machine Learning
          a(href="#") Music
          a(href="#") Running
          a(href="#") Space
        .column
          a(href="#") Leadership
          a(href="#") Machine Learning
          a(href="#") Music
          a(href="#") Running
          a(href="#") Space

    footer
      hr

      .group
        .logo
          i.fa.fa-map-pin.fa-3x
          p Board

        a(href="#").fa.fa-3x.fa-github