doctype html
html
  head
    link(href="https://fonts.googleapis.com/css?family=Fira+Sans", rel="stylesheet")
    link(href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css", rel="stylesheet")
    link(href="../css/index.css", rel="stylesheet")
  body
    #cover
      .logo
        i.fa.fa-map-pin.fa-3x
        p Board

    section#cover-content
      img(src="../img/laptop.png")#laptop-mockup

      hr

      h1#cover-lead Pinboard is an application that allows you to save every image you find on the internet in one place.

      a(href="#") Get started

    section#features
      .feature
        i.fa.fa-plus-circle.fa-5x
        h1.feature-lead Save for later
        p.feature-description    At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.
      .feature
        i.fa.fa-check-circle.fa-5x
        h1.feature-lead Always available to you
        p.feature-description   At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.
      .feature
        i.fa.fa-clock-o.fa-5x
        h1.feature-lead Extremely fast
        p.feature-description   At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.

    section#categories
      h1#categories-lead Find what you're looking for with ease
      #categories-list
        .column
          a(href="#") Leadership
          a(href="#") Machine Learning
          a(href="#") Music
          a(href="#") Running
          a(href="#") Space
        .column
          a(href="#") Leadership
          a(href="#") Machine Learning
          a(href="#") Music
          a(href="#") Running
          a(href="#") Space
        .column
          a(href="#") Leadership
          a(href="#") Machine Learning
          a(href="#") Music
          a(href="#") Running
          a(href="#") Space

    footer
      hr

      .logo
        i.fa.fa-map-pin.fa-3x
        p Board

      a(href="#").fa.fa-3x.fa-github